html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  background-color: var(--st-c-bg);
  color: var(--st-c-text-1);
  transition: var(--st-t-c), var(--st-t-bg);
}

img {
  display: block;
}

:root {
  --st-c-white: #fff;
  --st-c-black: #141414;
  --st-c-gray: #8e8e8e;
  --st-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --st-c-text-checked: #409eff;
  --st-t-bg: background .5s;
  --st-t-c: color .5s;
  --st-aside-w: 221px;
  --st-aside-w-s: 80px;
  --st-header-h: 51px;
  --st-scrollbar-h: 35px;
}

.light {
  --st-c-icon: #606266;
  --st-c-bg-mute: #f1f1f1;
  --st-c-divider: rgba(60, 60, 60, 0.1);
  --st-c-text-1: #213547;
  --st-c-text-2: rgba(60, 60, 60, 0.7);
  --st-c-text-3: rgba(235, 235, 235, 0.6);
  --st-c-bg: #fff;
  --st-c-bg-2: #f5f7fa;
  --st-c-menu-checked: #e6f4ff;
  --st-c-menu-active: #f0f0f0;
  --st-c-menu-bg: rgba(0, 0, 0, 0.02);
  --st-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --st-c-tag-checked: #ebf5ff;
}

.dark {
  --st-c-icon: #dadada;
  --st-c-bg-mute: #2f2f2f;
  --st-c-divider: rgba(84, 84, 84, 0.65);
  --st-c-text-1: rgba(255, 255, 255, 0.87);
  --st-c-text-2: rgba(235, 235, 235, 0.6);
  --st-c-text-3: rgba(60, 60, 60, 0.7);
  --st-c-bg: #141414;
  --st-c-bg-2: #2f2f2f;
  --st-c-menu-checked: #111a2c;
  --st-c-menu-active: #313131;
  --st-c-menu-bg: rgba(255, 255, 255, 0.04);
  --st-shadow: 0 6px 16px 0 rgba(235, 235, 235, 0.08), 0 3px 6px -4px rgba(235, 235, 235, 0.12), 0 9px 28px 8px rgba(235, 235, 235, 0.05);
  --st-c-tag-checked: #3c3c3c;
}
