@import './base.css';

.st-transition {
  transition: var(--st-t-bg), var(--st-t-c);
}

.st-transition-bg {
  transition: var(--st-t-bg);
}

.st-transition-c {
  transition: var(--st-t-c);
}

.st-container {
  overflow-y: auto;
  box-sizing: border-box;
  margin: 20px 10px 10px 20px;
  padding: 10px 20px;
  height: 100%;
  border-radius: 12px;
  background-color: var(--st-c-bg);
  transition: var(--st-t-bg);
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
